//Global variables that will be accessed anywhere in the project
$color-background: #333333;
$color-header-background: #242424;

$color-base: #242424;
$color-accent: 0;
$color-text: 0;
$color-text-link: 0;

$column-width: 800px;
$gallery-background-color: #1E1E1E;

