div, img {
  border: 0;
  margin: 0;
  padding: 0;
}

.column {
  width: $column-width;
  margin: 0 auto;
  position: relative;
}

#page-content {
  position: static;
}

// All Pages
body {
  font-family: $font-stack;
  background-color: $color-background;
  color: white;
  margin: 0;
  border: 0;
  padding: 0;
}

